[submodule "gemfire-gart"]
	path = gemfire-gart
	url = https://github.com/Pivotal-Data-Engineering/gemfire-gart
[submodule "gemfire-security-extensions"]
	path = gemfire-security-extensions
	url = https://github.com/Pivotal-Data-Engineering/gemfire-security-extensions
[submodule "gedi-geode-security-extensions"]
	path = gedi-geode-security-extensions
	url = https://github.com/nyla-solutions/gedi-geode-security-extensions.git
[submodule "gemfire-dynamic-security"]
	path = gemfire-dynamic-security
	url = https://github.com/Pivotal-Data-Engineering/gemfire-dynamic-security
